/.idea/
/.env
/scripts/.tmp-user-data**.yaml
/sa-key.json
/sa-iam-key.json
/other-k8s/
/ajasta-cms/target/
/k8s/kubeconfigs/
/terraform/terraform.tfvars
/terraform/.terraform*
/terraform/terraform.tfstate*
/.DS_Store

# Kotlin/Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
*.class
*.jar
*.war
*.ear
*.log
*.ctxt
hs_err_pid*
replay_pid*

# Kotlin
*.kotlin_module
*.kp

# Local config
local.properties